@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Fraud Scanner</h3>

<p>Fraud Scanner will check for transaction patterns based on the rules (and rule type) created by the user.</p>
