@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Fraud Scanner</h3>
<br /><br />
<address>
    Chaim Spear<br />
    Brooklyn, NY
</address>

<address>
   <a href="mailto:Support@example.com">chaimspear@outlook.com</a><br /> 
</address>
